{% extends "Essential_Templates/base_tutorial.html" %}
{% block left_column %} 
<a href="#header">Title</a>
<a href="#overview">Overview</a>
<a href="#project setup">Setup</a>
<a href="#python instalation" style="font-size: 16px;"> - Python Instalation</a>
<a href="#virtenv note" style="font-size: 16px;"> - Virtual Environment</a>
<a href="#idle instalation" style="font-size: 16px;"> - IDLE</a>
<a href="#decisiontree">K-Nearest-Neighbours</a>
<a href="#background" style="font-size: 16px;"> - Background</a>
<a href="#algo-overview" style="font-size: 16px;"> - Algorithm Overview</a>
<a href="#evaluate-algorithm" style="font-size: 16px;"> - Evaluate Algorithm</a>
<a href="#cross-validation" style="font-size: 16px;"> - Cross Validation</a>
<a href="#k-nearest" style="font-size: 16px;"> - K-Nearest</a>
<a href="#predict" style="font-size: 16px;"> - Predict Classification</a>
<a href="#get-neighbours" style="font-size: 16px;"> - Get Neighbours</a>
<a href="#end">The End / Full Code</a>
{% endblock left_column %}   
      
{% block middle_column %}   
<div class="main base-tutorial">

        <!-- Render the article content -->
        {{ article_content | safe }}

</div><!--end of main text-->
{% endblock middle_column %}   
      
{% block right_column %}        
{% endblock right_column %}  
