/* ------------------------------------ NAV BAR ------------------------------------- */
nav {
    background-color: #012030;
    width: 100%;
    height: 50px;
    display: flex;
}

.flex-container-row.navbar {
    justify-content: center;
}


/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}


/* Add a background color to navbar links on hover */
.navbar a:hover {
    background-color: #FF9900;
    color: black;
}

.navbar-right .icon {
    display: none;
}
  
.hiddenIcons {
    background-color: #33383d;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    display: none;
}

.hiddenIcons.responsive {
    background-color: #a4aaaf;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    display: flex;
}

@media screen and (max-width: 900px) {
    .navbar-right a {display: none;}
    .navbar-right a.icon {
        display: block;
    }
}