{% extends "Essential_Templates/base_nav.html" %}
{% block content %}


<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}" type="text/css">
<link rel="stylesheet" href="{{url_for('static', filename='css/hero_image.css')}}" type="text/css">


<div class="flex-container-column hero">
  <div class="wrapper">
    <div class="typing-demo"> My Cool Data Stuff. </div>
  </div>
  <div class="image-text">
    <div class="bottom-text">Data Documented</div>
    <a href="{{ url_for('tutorials_list') }}" style="text-decoration: none;">
      <div class="bottom-button">Start learning</div>
    </a>
  </div>
</div>

<div class="flex-container-row home">
  <div style="padding:6px;">
    <p>Top Projects</p>
  </div>
</div>

<div class="flex-container-row home">
  <div class="homeBox">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('shiny_dash') }}">
        <img src="../static/images/pictures/yellow_square.png" alt="shiny dashboard" width="600" height="400">
      </a>
      <div class="desc">Creating a dashboard using R Shiny</div>
    </div>
  </div>


  <div class="homeBox">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('covidanalysis') }}">
        <img src="../static/images/pictures/green_square.png" alt="covid dashboard" width="600" height="400">
      </a>
      <div class="desc">Creating a dashboard using Tableau</div>
    </div>
  </div>

  <div class="homeBox">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('pw_setup') }}">
        <img src="../static/images/pictures/yellow_square.png" alt="Walmart Analysis" width="600" height="400">
      </a>
      <div class="desc">Build a portfolio website using HTML and CSS</div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div style="padding:6px;">
    <p></p>
  </div>
</div>


<div class="flex-container-row home">
  <div style="padding-top:6px;">
    <p>Data Science</p>
  </div>
</div>

<div class="flex-container-row home">

  <div class="homeBox">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('decisiontreetut') }}">
        <img src="../static/images/pictures/yellow_square.png" alt="Coding a decision tree from scratch" width="600" height="400">
      </a>
      <div class="desc">Coding a decision tree from scratch</div>
    </div>
  </div>


  <div class="homeBox">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('knearest') }}">
        <img src="../static/images/pictures/green_square.png" alt="Coding a KNN Algorithm from scratch" width="600" height="400">
      </a>
      <div class="desc">Coding a KNN Algorithm from scratch</div>
    </div>
  </div>

  <div class="homeBox">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('custclust') }}">
        <img src="../static/images/pictures/yellow_square.png" alt="Visualising K-Nearest Algorithm" width="600" height="400">
      </a>
      <div class="desc">Visualising K-Nearest Algorithm</div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div style="padding:6px;">
    <p></p>
  </div>
</div>


<div class="flex-container-row home">
  <div style="padding-top:6px;">
    <p>Top Random</p>
  </div>
</div>

<div class="flex-container-row home">

  <div class="homeBox">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('pw_setup') }}">
        <img src="../static/images/pictures/yellow_square.png" alt="Build Your Own Portfolio Website" width="600" height="400">
      </a>
      <div class="desc">Build Your Own Portfolio Website</div>
    </div>
  </div>


  <div class="homeBox">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('flaskMarkdown') }}">
        <img src="../static/images/pictures/green_square.png" alt="Markdown Files With Flask" width="600" height="400">
      </a>
      <div class="desc">Building a CMS with Markdown Files With Flask</div>
    </div>
  </div>

  <div class="homeBox">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('gsheets_xlookup') }}">
        <img src="../static/images/pictures/yellow_square.png" alt="XLOOKUP vs VLOOKUP" width="600" height="400">
      </a>
      <div class="desc">Switch to using XLOOKUP over VLOOKUP</div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div style="padding:6px;">
    <p></p>
  </div>
</div>


<div class="content-wrap">
  <!-- all other page content -->
</div>
<div class="footer">
  <p>Author: Peter McClintock </p>
</div>





{% endblock content %}