{% extends "Essential_Templates/base_nav.html" %}
{% block content %}


<section class="global-section tlh">
  <div class="title-tlh">
    <h2>Tutorials List</h2>
  </div>
  <div class="flex-container-row tlh">
    <div class="flex-container-column tlh">
      <h3>Google Sheets</h3>
      <a href="{{ url_for('tutorial_handler', category='gsheets', tutorial_name='xlookup_vs') }}"> XLOOKUP vs VLOOKUP</a>
      <a href="{{ url_for('tutorial_handler', category='gsheets', tutorial_name='index_match_sumifs') }}">INDEX/MATCH/SUMIF</a>
    </div>

    <div class="flex-container-column tlh">
      <h3>Learn Data Science</h3>
      <a href="{{ url_for('tutorial_handler', category='data_science', tutorial_name='decisiontreetut') }}"> Coding a decision tree from scratch</a>
      <a href="{{ url_for('tutorial_handler', category='data_science', tutorial_name='knearest') }}"> Coding a KNN Algorithm from scratch</a>
      <a href="{{ url_for('tutorial_handler', category='data_science', tutorial_name='custclust') }}"> Visualising K-Nearest Algorithm</a>
    </div>

    <div class="flex-container-column tlh">
      <h3>Learn Web Dev</h3>
      <a href="{{ url_for('tutorial_handler', category='portfolio_website', tutorial_name='pw_setup') }}"> Build Your Own Portfolio Website</a>
      <a href="{{ url_for('tutorial_handler', category='regression_prediction', tutorial_name='regpredweb') }}"> Integrating a Prediction Model With Web</a>
      <a href="{{ url_for('tutorial_handler', category='web_dev', tutorial_name='sticky_nav') }}"> Alternative Sticky Navbar</a><!--sticky nav bar-->
      <a href="{{ url_for('tutorial_handler', category='web_dev', tutorial_name='flask_markdown') }}"> Markdown Files With Flask</a><!--sticky nav bar-->
    </div>

    <div class="flex-container-column tlh">
      <h3>My Old Projects</h3>
      <a href="{{ url_for('tutorial_handler', category='old_projects', tutorial_name='bankingchurn') }}"> Churn Analysis</a>
      <a href="{{ url_for('tutorial_handler', category='old_projects', tutorial_name='shiny_dashboard') }}"> Covid Visualisations using Shiny</a>
      <a href="{{ url_for('tutorial_handler', category='old_projects', tutorial_name='covidanalysis') }}"> Covid Statistics</a>
      <a href="{{ url_for('tutorial_handler', category='old_projects', tutorial_name='walmartanalysis') }}"> Analysing Walmart Data</a>
    </div>
  </div>
</section><!--end of global section-->

<div class="footer">
  <p>Author: Peter McClintock </p>
</div>
{% endblock content %}