{% extends "Essential_Templates/base_tutorial.html" %}
{% block left_column %}    
<a href="#Title"><b> Using Shiny to Build a Dashboard</b> </a>
<a href="#overview">Overview</a>
<a href="#data">Data</a>
<a href="#visualistaions">Visualisations</a>
<a href="#shiny">R - Shiny</a>
<a href="#dashboard">The Dashboard</a>
{% endblock left_column %}   
      
{% block middle_column %}   
<div class="main base-tutorial">
  <h1 id="Title"><strong>Covid R Shiny Dashboard Project</strong></h1>
  <h4>Peter McClintock</h4>
  <h4>25/11/2021</h4>

  <h1 id="overview">Overview</h1>
  <ul>
    <li>This project was testing out basic visualisations using R and Shiny. I wanted to challenge myself to begin creating end visualisations for my data 
        analysis projects</li>
    <li>The language used for the project was solely R which only required additional learning of the reactive programming necessary for Shiny</li>
  </ul>
  <hr>
  <h1 id="data">Data</h1>
  <p>
      The data was sourced from the <a href="https://coronavirus.data.gov.uk/" target="_blank">UK Covid Data website</a> which gives an in depth breakdown of the 
      daily Coronavirus figures from the begining of the pandemic. The data I worked with was downloaded as of the 23/11/2021.
  </p>
  <p>
      As I was focused on producing the visualisations and learning Shiny I did not commit to a deep dive into the data picking only the main fields of the four 
      downloaded datasets. Each of the datasets used can also be downloaded from my <a href="https://github.com/Petermcc042/CovidShinyApp" target="_blank">github</a>, 
      along with the code used to create the app.
  </p>
  <hr>
  <h2 id="visualisations">Visualisations</h2>
  <ul>
      <li>
          Firstly, I wanted to create an interactive plot of the four main variables, number of cases, deaths, vaccinations, and hospital admissions per day. For 
          this I merged the four variables into one dataframe based on the longest time frame. As such the vaccination level at start comes in as NA values. From 
          this I used the plotly package due to its benefits of easy interactivity. For styling I added a second axis, advanced period selection features and colour.
      </li>
      <li>
          The second part of the dashboard is a closer look each series and is calculated as the input changes selection. The first plot is a simple boxplot made with 
          ggplot. Secondly, to help add to the box plot is a simple dataframe of summary statistics. The final plot is a histogram showing the distribution of the 
          selected data. With it I included a numeric slider to control the number of bins.
      </li>
  </ul>
  <hr>
  <h1 id="shiny">Shiny</h1>
  <p>
      Working with Shiny proved more difficult than I would have initially hoped coming from a well established background in R. This is due to the use of 
      reactive data which requires additional learning in order to function. However, even with this basic first dive into Shiny I believe I have managed to 
      produce a professional looking dashboard with some basic information. As such I have hope for future projects and what they can yield.
  </p>
  <h1 id="dashboard">The Dashboard</h1>


</div><!--end of main text-->
{% endblock middle_column %}   
      
{% block right_column %}      
{% endblock right_column %}  


{% block open_section %}  
<p><iframe width = "100%" height="1400" background-color= #00473A frameborder="no" src="https://pmcc042.shinyapps.io/covid"></iframe></p>
{% endblock open_section %} 
